DATABASE_PROVIDER=sqlite
DATABASE_URL=file:./dev.db
NODE_ENV=development

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me

API_URL=http://localhost:3000/api

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=